:root {
  --color-grey: #6c7279;
  --color-white: #ffffff;
  --color-coral: #ff4343;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
